body{
    background-color: rgb(253, 251, 251);
}

#cabecalho{
    position: fixed;
    top: 0;
    height: 150px;
    background-color: green;
    
}

#titulo{
    font-size: 45px;
    color: white;
    padding: 40px 50px;
}

#minhafoto{
    position:
}